<%# locals: (title:, key:, actions: nil) %>
<div class="box has-background-primary-95" data-controller="collapsible" data-collapsible-key-value="<%= key %>">
  <div class="level collapsible-header" data-action="click->collapsible#toggle">
    <div class="level-left">
      <h2 class="title is-4"><span data-collapsible-target="icon" class="mr-2 collapsible-icon">−</span><%= title %></h2>
    </div>
    <% if actions.present? %>
      <div class="level-right collapsible-actions">
        <%= actions %>
      </div>
    <% end %>
  </div>
  <div data-collapsible-target="content">
    <%= yield %>
  </div>
</div>
